{% extends 'Main/base.html' %}
{% load static %}
{% block links %} 
<link rel="stylesheet" href="{% static 'Hobby/css/style.css' %}">
{% endblock %}
{% block content %}
    <style>
        #hPavel{
        display: inline-block;
        padding-top: 20px;
        }
        #hUlyana{
        display: inline-block;
        padding-top: 20px;
        margin-left: 92px;
        }
        #hDanya{
        display: inline-block;
        padding-top: 20px;
        margin-left: 90px;
        }
        #hNazar{
        display: inline-block;
        padding-top: 20px;
        margin-left: 130px;
        }
        .Pavel{
        display: inline-block;
        font-size: 20px;
        }
        .Ulyana{
        display: inline-block;
        margin-left: 200px;
        margin-bottom: 480px;
        font-size: 20px;
        }
        .Danya{
        display: inline-block;
        margin-left: 200px;
        font-size: 20px;

        }
        .Nazar{
        display: inline-block;
        margin-left: 200px;
        margin-top: 100px;
        font-size: 20px;
        }
    </style>

    <h1 id="hPavel">Павло Устич</h1>
    <h1 id = "hNazar">Назар Зозуля</h1>
    <h1 id = "hDanya">Кошнарьов Данило</h1>
    <h1 id="hUlyana">Ульяна Шамільова</h1>
    <p class = "Pavel">Я займаюсь програмуванням <br>у World IT. <br> Там багато цікавого,<br> вам теж раджу туди пійти.</p>
    <p class = "Ulyana">Граю у настільні ігри, збираю пазли</p>
    <p class = "Danya">Я  методист міжнародної категорії<br> з бальних танців</p>
    <p class = "Nazar">Немає<br>(Він так сам сказав)<br>(не бийте палицями)</p>

    
{% endblock %}

