{% extends 'Main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'leisure/css/leisure.css' %}">
{% endblock %}
{% block content %}
    <span>Шамільова Уляна</span>
    <span>Устич Павло</span>
    <span>Назар Зозуля</span>
    <span>Кошнарьов Данило</span>
    <p> У вільний час часто гуляю
        на вулиці сама або з друзями,
        та граю у мобільні ігри
    </p>
    <p>Граю у комп'ютерні ігри </p>
    <p>Граю у комп'ютерні ігри також іноді гуляю з друзями</p>
    <p>У вільний час проводжу час з  друзями спілкуючись щодо Genshin Impact . </p>
{% endblock %}