{% extends 'Main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href=" {% static 'leisure/css/leisure.css' %} ">
{% endblock %}

{% block content %}
    <h1 class = "h1">Шамільова Уляна</h1>
    <h1 class = "h2">Устич Павло</h1>
    <h1 class = "h3">Назар Зозуля</h1>
    <h1 class = "h4">Кошнарьов Данило</h1>
    <p class = "p1"> Створили на мові програмування Python такі додатки: редактор фото, музичний плеєр, генератор QR-кодів та калькулятор.</p>
    <p class="p2">Створили на мові програмування Python такі додатки: редактор фото, музичний плеєр, генератор QR-коді.</p>
    <p class = "p3"> Зробив сайт для покупки їжі домашнім тваринам.</p>
    <p class = "p4">Створили на мові програмування Python такі додатки: редактор фото, музичний плеєр, генератор QR-кодів та калькулятор.</p>

{% endblock %}