img{
    margin: 20px;
}

.Ulyana{
    width: 300px;
    height: 300px;
}

.Pasha{
    width: 250px;
    height: 300px;
}

.Nazar{
    width: 300px;
    height: 300px;
}

.Danil{
    width: 400px;
    height: 300px;
}
