img{
    margin: 20px;
}

.Ulyana{
    width: 300px;
    height: 300px;
    background-color: green;
}

.Pasha{
    width: 250px;
    height: 300px;
    background-color: red;
}

.Nazar{
    width: 300px;
    height: 300px;
    background-color: blue;
}

.Danil{
    width: 330px;
    height: 300px;
    background-color: yellow;
}
